{% extends 'base.html' %}

{% block conteudo %}
<h1>Assento</h1>
<hr>
<h3>Evento {{evento.nome}}</h3>
<div>
    <p>Fileira <b>{{fileira.upper()}}</b> assento <b>{{numero}}</b>.</p>

    {% if assento.livre %}
        {{assento.livre}} Assento Livre: <img width="22" height="22" src="{{ url_for('static', filename='imagens/verde.png')}}">
    {% else %}
        Assento Ocupado: <img width="22" height="22" src="{{ url_for('static', filename='imagens/vermelho.png')}}">
    {% endif %}
</div>
<hr>

<h4>Inserir Valor do Ingresso</h4>
<form action="/assento/{{fileira}}/{{numero}}/{{evento.id}}" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text">R$</span>
        <input type="text" class="form-control" aria-label="" id="preco" name="preco" required>
    </div>
        <button type="submit" class="btn btn-success" 
            {% if not assento.livre %} disabled {% endif %}>
            Validar venda!
        </button>
</form>
  
<hr>
<a class="btn btn-info" href="{{url_for('evento',id=evento.id)}}" role="button">Evento {{evento.nome}}</a>

{% endblock %}