{% extends 'base.html' %}

{% block conteudo %}
<h1>Gerenciador de Evento {{evento.id}} - {{evento.nome}}</h1>
<hr>
<h4 align="center">Palco está nesta posição</h4>
<div align="center">
<h4>Selecione o assento para ocupar.</h4>
<table border="2">
    {% for fileira in 'ABCDEFGHIJKLMNOPQRSTU' %}
        <tr>
            <th>
                {{fileira}}
            </th>
        {% for j in range(25) %}
            <td>
                {{j+1}}<a href="/assento/{{fileira}}/{{j+1}}/{{evento.id}}"><img width="22" height="22" src="{{ url_for('static', filename='imagens/verde.png')}}"></a>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
</div>
<hr>
<a href="/index">Voltar</a>

{% endblock %}