{% extends 'base.html' %}

{% block conteudo %}
<h1>Gerenciador de Assentos para o Teatro São Francisco</h1>
<hr>
<h3>Criar novo Evento</h3>
<form action="/index" method="post">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="Nome do evento" aria-label="Username" aria-describedby="basic-addon1" name="nome" required>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="Descrição" aria-label="Username" aria-describedby="basic-addon1" name="descricao" required>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="dd/mm/aaaa" aria-label="Username" aria-describedby="basic-addon1" name="data" required>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="hh:mm" aria-label="Username" aria-describedby="basic-addon1" name="hora" required>
  </div>
  <button type="submit" class="btn btn-primary">Criar Evento</button>
</form>

<hr>
<h3>Eventos cadastrados</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data</th>
        <th scope="col">Hora Início</th>
        <th scope="col">Lotação</th>
        <th scope="col">Arrecadação</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for e in eventos %} 
      <tr>
        <th scope="row">{{e.id}}</th>
        <td>{{e.nome}}</td>
        <td>{{e.descricao}}</td>
        <td>{{e.data}}</td>
        <td>{{e.hora_inicio}}</td>
        <td>{{e.lotacao}}</td>
        <td>R${{e.arrecadacao}}</td>

        <td>
          <a class="btn btn-success" role="button" aria-disabled="true" href="/evento/{{e.id}}">Gerir</a> |
          <a class="btn btn-warning" role="button" aria-disabled="true" href="/evento_editar/{{e.id}}">Editar</a> |
          <a class="btn btn-danger" role="button" aria-disabled="true">Excluir</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
