{% extends 'base.html' %}

{% block conteudo %}
<h1>Gerenciador de Assentos para o Teatro São Francisco</h1>
<hr>

<h2>Progresso do TCC400</h2>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <label class="form-check-label" for="flexCheckDefault">
      Relatório final
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <label class="form-check-label" for="flexCheckDefault">
      Vídeo do projeto [link]
    </label>
  </div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <label class="form-check-label" for="flexCheckDefault">
      Gerenciamento de evento
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Gerenciamento de Assentos
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked">
      Gerenciamento de Clientes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Função de Atualização de Pagantes e arrecadação
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Banco de Dados
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Interfaces graficas
    </label>
  </div>
  <hr>
  <h3>Orientador</h3>
  <b>Professor Robson Franklin de Aguiar Couto</b>
  <hr>

  <h3>Grupo</h3>
  <ul>
    <li>Alexandre B - RA1825057</li>
    <li>André L - RA1803854</li>
    <li>Carlos E - RA1705528 </li>
    <li>Delson C - RA1821276</li>
    <li>Iara P - RA1801774</li>
    <li>Leonardo M - RA1819446</li>
    <li>Luiz O - RA1802816</li>
    <li>Nelson F - RA1715435</li>
  </ul>
  <hr>

  <h3>Atualizações do sistema</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Versão</th>
        <th scope="col">Descrição</th>
        <th scope="col">Funções</th>
        <th scope="col">Banco de Dados</th>
        <th scope="col">Interfaces Gráficas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">0.0.0</th>
        <td>Protótipos das interfaces criadas</td>
        <td>-</td>
        <td>-</td>
        <td>Index e progresso</td>
      </tr>
      <tr>
        <th scope="row">0.0.1</th>
        <td>Protótipos das interfaces criadas</td>
        <td>-</td>
        <td>-</td>
        <td>Evento e Cliente</td>
      </tr>
      <th scope="row">0.1.0</th>
        <td>Banco de dados criado</td>
        <td>-</td>
        <td>Cliente, Evento, Assento e Cliente_Evento</td>
        <td>-</td>
      </tr>
      <th scope="row">0.1.1</th>
        <td>Banco de dados atualizado</td>
        <td>-</td>
        <td>Usuario</td>
        <td>-</td>
      </tr>
      <th scope="row">0.2.0</th>
        <td>Funções de rotas criadas</td>
        <td>index, evento, assento, usuario</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <th scope="row">0.2.1</th>
        <td>Rotas acessando a base de dados, tabelas atualizadas e interfaces atualizadas</td>
        <td>index, evento, assento, usuario</td>
        <td>Tabelas alteradas para usar o campo data do tipo varchar</td>
        <td>Interfaces bloqueiam campos vazios.</td>
      </tr>
      <th scope="row">0.3.0</th>
        <td>Aplicação online para testes</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <th scope="row">0.3.1</th>
        <td>Rota index gera os assentos automaticamente.</td>
        <td>index() gera assentos na criação de um novo evento</td>
        <td>Os assentos são inseridos com o código do evento na chave estrangeira</td>
        <td>Evento gera as imagens dos lugares</td>
      </tr>
      <th scope="row">0.3.2</th>
        <td>Rota evento atualiza a imagem dos lugares livres.</td>
        <td>evento()</td>
        <td>assentos</td>
        <td>evento.html</td>
      </tr>
      <th scope="row">0.3.3</th>
        <td>Rota editar evento criada.</td>
        <td>evento_editar()</td>
        <td>evento</td>
        <td>evento_editar.html</td>
      </tr>
      <th scope="row">0.3.4</th>
        <td>Funções de atualização de lotação e arrecadação.</td>
        <td>index()</td>
        <td>eventos</td>
        <td>index.html</td>
      </tr>
      <th scope="row">0.3.5</th>
        <td>Função de desocupar assento criada.</td>
        <td>assento_liberar()</td>
        <td>assentos</td>
        <td>assento.html</td>
      </tr>
    <th scope="row">1.0.0</th>
        <td>Aplicação versão 1.</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <th scope="row">1.0.1</th>
        <td>Função de exclusão de eventos criada.</td>
        <td>evento_appagar()</td>
        <td>eventos</td>
        <td>index.html</td>
      </tr>
      <th scope="row">1.0.2</th>
        <td>Interface assentos renderiza ou o botão vender ou o botão liberar.</td>
        <td>-</td>
        <td>-</td>
        <td>assento.html</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
